Repository livechat/chat-widget-adapters: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "**/*.{js,ts,tsx}": "eslint --fix",
  "**/*.{css,md,json}": "prettier --write"
}

contributing guide
  CONTRIBUTING.md
  README.md
  packages/widget-angular/README.md
  packages/widget-core/README.md
  packages/widget-react/README.md
  packages/widget-vue/README.md
Due: prettier --write

Contributing guide (#17)
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  README.md
  packages/widget-angular/README.md
  packages/widget-core/README.md
  packages/widget-react/README.md
  packages/widget-vue/README.md
Due: prettier --write

check coverage on ci
  packages/widget-angular/jest.config.json
  packages/widget-angular/package.json
  packages/widget-core/jest.config.json
  packages/widget-core/package.json
  packages/widget-react/jest.config.json
  packages/widget-react/package.json
  packages/widget-react/src/hooks/index.ts
  packages/widget-vue/jest.config.json
  packages/widget-vue/package.json
  packages/widget-vue/src/composition/index.ts
  scripts/test.mjs
Due: eslint --fix, prettier --write

check coverage on ci (#20)
  packages/widget-angular/jest.config.json
  packages/widget-angular/package.json
  packages/widget-core/jest.config.json
  packages/widget-core/package.json
  packages/widget-react/jest.config.json
  packages/widget-react/package.json
  packages/widget-react/src/hooks/index.ts
  packages/widget-vue/jest.config.json
  packages/widget-vue/package.json
  packages/widget-vue/src/composition/index.ts
  scripts/test.mjs
Due: eslint --fix, prettier --write

Basic setup for chat-widget-adapters e2e tests
  .github/workflows/check.yml
  CONTRIBUTING.md
  e2e/.eslintrc
  e2e/example-page.ts
  e2e/examples.spec.ts
  e2e/playwright.config.ts
  e2e/utils.ts
  examples/angular/src/app/app.component.html
  examples/react/src/App.tsx
  examples/vue/src/App.vue
  package-lock.json
  package.json
  packages/widget-angular/src/LiveChatWidget.component.ts
  scripts/e2e.mjs
  scripts/prepare.mjs
  tsconfig.json
Due: eslint --fix, prettier --write

reduce code
  e2e/example-page.ts
  e2e/playwright.config.ts
Due: eslint --fix

mention e2e script in gh actions description
  CONTRIBUTING.md
Due: prettier --write

CW-2817: E2E tests (#21)
  .github/workflows/check.yml
  CONTRIBUTING.md
  e2e/.eslintrc
  e2e/example-page.ts
  e2e/examples.spec.ts
  e2e/playwright.config.ts
  e2e/utils.ts
  examples/angular/src/app/app.component.html
  examples/react/src/App.tsx
  examples/vue/src/App.vue
  package-lock.json
  package.json
  packages/widget-angular/src/LiveChatWidget.component.ts
  scripts/e2e.mjs
  scripts/prepare.mjs
  tsconfig.json
Due: eslint --fix, prettier --write

expand peer deps
  package-lock.json
  packages/widget-angular/package.json
  packages/widget-react/package.json
  packages/widget-vue/package.json
Due: prettier --write

reconfigure umd start script
  examples/react/package.json
  examples/react/umd.html
  examples/vue/package.json
  examples/vue/umd.html
  package-lock.json
  package.json
  packages/widget-core/rollup.config.js
  scripts/start.mjs
Due: eslint --fix, prettier --write

Expand peer dependencies (#22)
  examples/react/package.json
  examples/react/umd.html
  examples/vue/package.json
  examples/vue/umd.html
  package-lock.json
  package.json
  packages/widget-angular/package.json
  packages/widget-core/rollup.config.js
  packages/widget-react/package.json
  packages/widget-vue/package.json
  scripts/start.mjs
Due: eslint --fix, prettier --write

mark packages as side effects free
  .github/CODEOWNERS
  packages/widget-angular/package.json
  packages/widget-core/package.json
  packages/widget-react/package.json
  packages/widget-vue/package.json
Due: prettier --write

mark packages as side effects free (#23)
  .github/CODEOWNERS
  packages/widget-angular/package.json
  packages/widget-core/package.json
  packages/widget-react/package.json
  packages/widget-vue/package.json
Due: prettier --write

use yarn
  .github/workflows/check.yml
  .github/workflows/publish.yml
  .npmrc
  examples/angular/package.json
  lerna.json
  package-lock.json
  package.json
  packages/widget-angular/package.json
  scripts/lint.mjs
  scripts/publish.mjs
  scripts/start.mjs
  yarn.lock
Due: prettier --write

update contributing guide
  .npmrc
  CONTRIBUTING.md
  packages/widget-angular/package.json
Due: prettier --write

Use yarn (#24)
  .github/workflows/check.yml
  .github/workflows/publish.yml
  CONTRIBUTING.md
  examples/angular/package.json
  lerna.json
  package-lock.json
  package.json
  packages/widget-angular/package.json
  scripts/lint.mjs
  scripts/publish.mjs
  scripts/start.mjs
  yarn.lock
Due: prettier --write

v1.0.1
  examples/angular/package.json
  examples/react/package.json
  examples/vue/package.json
  lerna.json
  packages/widget-angular/package.json
  packages/widget-core/package.json
  packages/widget-react/package.json
  packages/widget-vue/package.json
Due: prettier --write

add bundle size and monorepo version shields
  README.md
  packages/widget-angular/README.md
  packages/widget-core/README.md
  packages/widget-react/README.md
  packages/widget-vue/README.md
  scripts/publish.mjs
Due: prettier --write

add bundle size and monorepo version shields (#25)
  README.md
  packages/widget-angular/README.md
  packages/widget-core/README.md
  packages/widget-react/README.md
  packages/widget-vue/README.md
  scripts/publish.mjs
Due: prettier --write

vue 2 partial support
  .eslintignore
  .gitignore
  packages/widget-vue/README.md
  packages/widget-vue/package.json
  packages/widget-vue/rollup-vue2.config.js
  packages/widget-vue/src/LiveChatWidget.ts
Due: eslint --fix, prettier --write

vue 2 umd build
  packages/widget-vue/rollup-vue2.config.js
Due: eslint --fix

Vue 2 partial support (#28)
  .eslintignore
  .gitignore
  packages/widget-vue/README.md
  packages/widget-vue/package.json
  packages/widget-vue/rollup-vue2.config.js
  packages/widget-vue/src/LiveChatWidget.ts
Due: eslint --fix, prettier --write

mention lc module import in ng docs
  packages/widget-angular/README.md
Due: prettier --write

mention lc module import in ng docs (#33)
  packages/widget-angular/README.md
Due: prettier --write

v1.1.0
  examples/angular/package.json
  examples/react/package.json
  examples/vue/package.json
  lerna.json
  packages/widget-angular/package.json
  packages/widget-core/package.json
  packages/widget-react/package.json
  packages/widget-vue/package.json
Due: prettier --write

react@18
  examples/react/package.json
  examples/react/src/main.tsx
  packages/widget-react/package.json
  packages/widget-react/src/hooks/__tests__/test-utils.tsx
  yarn.lock
Due: eslint --fix, prettier --write

README fixup
  packages/widget-angular/README.md
  packages/widget-react/README.md
  packages/widget-vue/README.md
Due: prettier --write

angular@14
  packages/widget-angular/package.json
Due: prettier --write

Updated supported React and Angular major version (#49)
  examples/react/package.json
  examples/react/src/main.tsx
  packages/widget-angular/README.md
  packages/widget-angular/package.json
  packages/widget-react/README.md
  packages/widget-react/package.json
  packages/widget-react/src/hooks/__tests__/test-utils.tsx
  packages/widget-vue/README.md
  yarn.lock
Due: eslint --fix, prettier --write

v1.2.0
  examples/angular/package.json
  examples/react/package.json
  examples/vue/package.json
  lerna.json
  packages/widget-angular/package.json
  packages/widget-core/package.json
  packages/widget-react/package.json
  packages/widget-vue/package.json
Due: prettier --write

extend test coverage
  packages/widget-core/src/__tests__/create-widget.spec.ts
  packages/widget-core/src/create-js-api.ts
  packages/widget-core/src/create-widget.ts
  packages/widget-core/src/types.ts
Due: eslint --fix

use frozen-lockfile yarn flag for gh workflow
  .github/workflows/check.yml
  scripts/test.mjs
Due: none

reinitialization scheduling
  .eslintrc
  packages/widget-core/src/create-js-api.ts
  packages/widget-core/src/create-widget.ts
Due: eslint --fix

Reinitialisation scheduling (#53)
  .eslintrc
  .github/workflows/check.yml
  packages/widget-core/src/__tests__/create-widget.spec.ts
  packages/widget-core/src/create-js-api.ts
  packages/widget-core/src/create-widget.ts
  packages/widget-core/src/types.ts
  scripts/test.mjs
Due: eslint --fix

v1.2.1
  examples/angular/package.json
  examples/react/package.json
  examples/vue/package.json
  lerna.json
  packages/widget-angular/package.json
  packages/widget-core/package.json
  packages/widget-react/package.json
  packages/widget-vue/package.json
Due: prettier --write

update angular peer dependency to v15
  packages/widget-angular/package.json
Due: prettier --write

migrate to angular v14 and typescript@4.6.2
  examples/angular/angular.json
  examples/angular/package.json
  examples/angular/tsconfig.json
  package.json
  packages/widget-angular/package.json
  yarn.lock
Due: prettier --write

fix a tests bug
  packages/widget-angular/jest.setup.js
Due: eslint --fix

Updated supported Angular major version (#60)
  examples/angular/angular.json
  examples/angular/package.json
  examples/angular/tsconfig.json
  package.json
  packages/widget-angular/jest.setup.js
  packages/widget-angular/package.json
  yarn.lock
Due: eslint --fix, prettier --write

v1.2.2
  examples/angular/package.json
  examples/react/package.json
  examples/vue/package.json
  lerna.json
  packages/widget-angular/package.json
  packages/widget-core/package.json
  packages/widget-react/package.json
  packages/widget-vue/package.json
Due: prettier --write
