Repository livechat/chat-widget-adapters: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Add support for organizationId and TextWidget component (#108)
  packages/widget-angular/README.md
  packages/widget-angular/package.json
  packages/widget-angular/src/LiveChatWidget.component.ts
  packages/widget-angular/src/LiveChatWidget.module.ts
  packages/widget-angular/src/index.ts
  packages/widget-core/src/__tests__/assign-configuration.spec.ts
  packages/widget-core/src/assign-configuration.ts
  packages/widget-core/src/types.ts
  packages/widget-react/README.md
  packages/widget-react/src/LiveChatWidget.tsx
  packages/widget-react/src/index.ts
  packages/widget-vue/README.md
  packages/widget-vue/src/LiveChatWidget.ts
  packages/widget-vue/src/index.ts
Due: eslint --fix, prettier --write

v1.4.0
  examples/angular/package.json
  examples/react/package.json
  examples/vue/package.json
  lerna.json
  packages/widget-angular/package.json
  packages/widget-core/package.json
  packages/widget-react/package.json
  packages/widget-vue/package.json
Due: prettier --write

v1.4.0 (#109)
  examples/angular/package.json
  examples/react/package.json
  examples/vue/package.json
  lerna.json
  packages/widget-angular/package.json
  packages/widget-core/package.json
  packages/widget-react/package.json
  packages/widget-vue/package.json
Due: prettier --write

chore: pin GitHub Actions to commit SHAs
  .github/workflows/check.yml
  .github/workflows/publish.yml
Due: none

chore: pin GitHub Actions to commit SHAs (#116)
  .github/workflows/check.yml
  .github/workflows/publish.yml
Due: none

chore: update team slug references in CODEOWNERS
  .github/CODEOWNERS
Due: none

chore: update team slug references in CODEOWNERS (#117)
  .github/CODEOWNERS
Due: none

chore: add explicit workflow permissions
  .github/workflows/check.yml
  .github/workflows/publish.yml
Due: none

chore: add explicit workflow permissions (#118)
  .github/workflows/check.yml
  .github/workflows/publish.yml
Due: none

chore: add Aikido Safe Chain to CI workflows
  .github/workflows/check.yml
Due: none

chore: add Aikido Safe Chain to CI workflows (#119)
  .github/workflows/check.yml
Due: none

feat(widget-core): add internal env option for tracking.js URL (IT-1810)
  packages/widget-angular/src/LiveChatWidget.component.ts
  packages/widget-core/src/__tests__/create-js-api.spec.ts
  packages/widget-core/src/__tests__/create-widget.spec.ts
  packages/widget-core/src/create-js-api.ts
  packages/widget-core/src/create-widget.ts
  packages/widget-core/src/types.ts
  packages/widget-core/tsconfig.json
  packages/widget-react/src/LiveChatWidget.tsx
  packages/widget-vue/src/LiveChatWidget.ts
Due: eslint --fix, prettier --write

fix(widget-vue): hide internal env prop from public .d.ts and fix reinit triggers (IT-1810)
  packages/widget-vue/src/LiveChatWidget.ts
Due: eslint --fix

fix(widget-vue,widget-angular): fully hide internal env option from public API
  packages/widget-angular/src/LiveChatWidget.component.ts
  packages/widget-vue/src/LiveChatWidget.ts
Due: eslint --fix

Add internal env option for tracking.js URL (#120)
  packages/widget-angular/src/LiveChatWidget.component.ts
  packages/widget-core/src/__tests__/create-js-api.spec.ts
  packages/widget-core/src/__tests__/create-widget.spec.ts
  packages/widget-core/src/create-js-api.ts
  packages/widget-core/src/create-widget.ts
  packages/widget-core/src/types.ts
  packages/widget-core/tsconfig.json
  packages/widget-react/src/LiveChatWidget.tsx
  packages/widget-vue/src/LiveChatWidget.ts
Due: eslint --fix, prettier --write

v1.4.1
  examples/angular/package.json
  examples/react/package.json
  examples/vue/package.json
  lerna.json
  packages/widget-angular/package.json
  packages/widget-core/package.json
  packages/widget-react/package.json
  packages/widget-vue/package.json
Due: prettier --write

v1.4.1 (#121)
  examples/angular/package.json
  examples/react/package.json
  examples/vue/package.json
  lerna.json
  packages/widget-angular/package.json
  packages/widget-core/package.json
  packages/widget-react/package.json
  packages/widget-vue/package.json
Due: prettier --write

Path conditions:
  eslint --fix: any of: **/*.{js,ts,tsx}
  prettier --write: any of: **/*.{css,md,json}
