Repository livechat/chat-widget-adapters: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

v1.0.0-alpha.1
  examples/angular/package-lock.json
  examples/angular/package.json
  examples/react/package-lock.json
  examples/react/package.json
  examples/vue/package-lock.json
  examples/vue/package.json
  lerna.json
  packages/widget-angular/package-lock.json
  packages/widget-angular/package.json
  packages/widget-core/package-lock.json
  packages/widget-core/package.json
  packages/widget-react/package-lock.json
  packages/widget-react/package.json
  packages/widget-vue/package-lock.json
  packages/widget-vue/package.json
Due: prettier --write

tweak tsconfig
  packages/widget-angular/src/WidgetChatData.service.ts
  packages/widget-angular/tsconfig.json
  packages/widget-core/tsconfig.json
  packages/widget-react/tsconfig.json
  packages/widget-vue/tsconfig.json
Due: eslint --fix, prettier --write

Enable TS config isolated modules (#10)
  packages/widget-angular/src/WidgetChatData.service.ts
  packages/widget-angular/tsconfig.json
  packages/widget-core/tsconfig.json
  packages/widget-react/tsconfig.json
  packages/widget-vue/tsconfig.json
Due: eslint --fix, prettier --write

@livechat/widget-react README
  README.md
  packages/widget-angular/README.md
  packages/widget-react/README.md
  packages/widget-vue/README.md
Due: prettier --write

@livechat/widget-vue README
  packages/widget-react/README.md
  packages/widget-vue/README.md
Due: prettier --write

@livechat/widget-angular README
  examples/angular/src/app/app.component.html
  examples/angular/src/app/app.component.ts
  packages/widget-angular/README.md
  packages/widget-angular/src/LiveChatWidget.component.ts
  packages/widget-angular/src/WidgetChatData.service.ts
  packages/widget-angular/src/WidgetCustomerData.service.ts
  packages/widget-angular/src/WidgetGreeting.service.ts
  packages/widget-angular/src/WidgetIsReady.service.ts
  packages/widget-angular/src/WidgetState.service.ts
  packages/widget-angular/src/index.ts
  packages/widget-angular/tsconfig.json
  packages/widget-react/README.md
  packages/widget-vue/README.md
Due: eslint --fix, prettier --write

@livechat/widget-core README
  README.md
  packages/widget-core/README.md
Due: prettier --write

umd watch script
  examples/react/package-lock.json
  examples/react/package.json
  examples/react/umd.html
  examples/vue/package-lock.json
  examples/vue/package.json
  examples/vue/umd.html
  scripts/watch.js
Due: eslint --fix, prettier --write

cr fixes
  packages/widget-angular/README.md
  packages/widget-core/README.md
  packages/widget-react/README.md
  packages/widget-vue/README.md
Due: prettier --write

cr fixes
  packages/widget-angular/README.md
  packages/widget-react/README.md
  packages/widget-vue/README.md
Due: prettier --write

cr fixes
  README.md
  packages/widget-angular/README.md
  packages/widget-core/README.md
  packages/widget-react/README.md
  packages/widget-vue/README.md
Due: prettier --write

require only major versions in peer deps
  examples/angular/package-lock.json
  packages/widget-angular/package-lock.json
  packages/widget-angular/package.json
  packages/widget-core/package-lock.json
  packages/widget-react/package-lock.json
  packages/widget-react/package.json
  packages/widget-vue/package-lock.json
  packages/widget-vue/package.json
Due: prettier --write

CW-2807: packages readme (#11)
  README.md
  examples/angular/package-lock.json
  examples/angular/src/app/app.component.html
  examples/angular/src/app/app.component.ts
  examples/react/package-lock.json
  examples/react/package.json
  examples/react/umd.html
  examples/vue/package-lock.json
  examples/vue/package.json
  examples/vue/umd.html
  packages/widget-angular/README.md
  packages/widget-angular/package-lock.json
  packages/widget-angular/package.json
  packages/widget-angular/src/LiveChatWidget.component.ts
  packages/widget-angular/src/WidgetChatData.service.ts
  packages/widget-angular/src/WidgetCustomerData.service.ts
  packages/widget-angular/src/WidgetGreeting.service.ts
  packages/widget-angular/src/WidgetIsReady.service.ts
  packages/widget-angular/src/WidgetState.service.ts
  packages/widget-angular/src/index.ts
  packages/widget-angular/tsconfig.json
  packages/widget-core/README.md
  packages/widget-core/package-lock.json
  packages/widget-react/README.md
  packages/widget-react/package-lock.json
  packages/widget-react/package.json
  packages/widget-vue/README.md
  packages/widget-vue/package-lock.json
  packages/widget-vue/package.json
  scripts/watch.js
Due: eslint --fix, prettier --write

update packages metadata
  README.md
  packages/widget-angular/README.md
  packages/widget-angular/package.json
  packages/widget-core/README.md
  packages/widget-core/package.json
  packages/widget-react/README.md
  packages/widget-react/package.json
  packages/widget-vue/README.md
  packages/widget-vue/package.json
Due: prettier --write

v1.0.0-alpha.2
  examples/angular/package-lock.json
  examples/angular/package.json
  examples/react/package-lock.json
  examples/react/package.json
  examples/vue/package-lock.json
  examples/vue/package.json
  lerna.json
  packages/widget-angular/package-lock.json
  packages/widget-angular/package.json
  packages/widget-core/package-lock.json
  packages/widget-core/package.json
  packages/widget-react/package-lock.json
  packages/widget-react/package.json
  packages/widget-vue/package-lock.json
  packages/widget-vue/package.json
Due: prettier --write

point to public npm registry
  .github/workflows/publish.yml
  .npmrc
Due: none

v1.0.0
  examples/angular/package-lock.json
  examples/angular/package.json
  examples/react/package-lock.json
  examples/react/package.json
  examples/vue/package-lock.json
  examples/vue/package.json
  lerna.json
  packages/widget-angular/package-lock.json
  packages/widget-angular/package.json
  packages/widget-core/package-lock.json
  packages/widget-core/package.json
  packages/widget-react/package-lock.json
  packages/widget-react/package.json
  packages/widget-vue/package-lock.json
  packages/widget-vue/package.json
Due: prettier --write

format package*.json on bootstrap
  examples/angular/package-lock.json
  examples/react/package-lock.json
  examples/vue/package-lock.json
  packages/widget-angular/package-lock.json
  packages/widget-core/package-lock.json
  packages/widget-react/package-lock.json
  packages/widget-vue/package-lock.json
  scripts/bootstrap.js
Due: eslint --fix, prettier --write

use zx for scripts
  package-lock.json
  package.json
  scripts/bootstrap.js
  scripts/bootstrap.mjs
  scripts/build.js
  scripts/build.mjs
  scripts/cmd.js
  scripts/publish.js
  scripts/publish.mjs
  scripts/watch.js
  scripts/watch.mjs
Due: eslint --fix, prettier --write

npm workspaces
  .github/PULL_REQUEST_TEMPLATE.md
  .husky/pre-commit
  examples/angular/package-lock.json
  examples/angular/package.json
  examples/react/package-lock.json
  examples/react/package.json
  examples/vue/package-lock.json
  examples/vue/package.json
  lerna.json
  package-lock.json
  package.json
  packages/widget-angular/package-lock.json
  packages/widget-core/jest.config.js
  packages/widget-core/jest.config.json
  packages/widget-core/package-lock.json
  packages/widget-core/package.json
  packages/widget-react/package-lock.json
  packages/widget-react/package.json
  packages/widget-vue/package-lock.json
  scripts/bootstrap.mjs
  scripts/lint.mjs
  scripts/start.mjs
Due: eslint --fix, prettier --write

update cache-dependency-path
  .github/workflows/check.yml
  .github/workflows/publish.yml
Due: none

revert changes in angular example package.json
  examples/angular/package.json
  package-lock.json
Due: prettier --write

NPM Workspaces (#12)
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/check.yml
  .github/workflows/publish.yml
  .husky/pre-commit
  examples/angular/package-lock.json
  examples/angular/package.json
  examples/react/package-lock.json
  examples/react/package.json
  examples/vue/package-lock.json
  examples/vue/package.json
  lerna.json
  package-lock.json
  package.json
  packages/widget-angular/package-lock.json
  packages/widget-core/jest.config.js
  packages/widget-core/jest.config.json
  packages/widget-core/package-lock.json
  packages/widget-core/package.json
  packages/widget-react/package-lock.json
  packages/widget-react/package.json
  packages/widget-vue/package-lock.json
  scripts/bootstrap.js
  scripts/build.js
  scripts/build.mjs
  scripts/cmd.js
  scripts/lint.mjs
  scripts/publish.js
  scripts/publish.mjs
  scripts/start.mjs
  scripts/watch.js
Due: eslint --fix, prettier --write

react hooks tests
  package-lock.json
  package.json
  packages/widget-core/package.json
  packages/widget-react/jest.config.json
  packages/widget-react/package.json
  packages/widget-react/src/hooks.ts
  packages/widget-react/src/hooks/__tests__/.eslintrc
  packages/widget-react/src/hooks/__tests__/test-utils.tsx
  packages/widget-react/src/hooks/__tests__/useWidgetChatData.spec.ts
  packages/widget-react/src/hooks/__tests__/useWidgetCustomerData.spec.ts
  packages/widget-react/src/hooks/__tests__/useWidgetGreeting.spec.ts
  packages/widget-react/src/hooks/__tests__/useWidgetIsReady.spec.ts
  packages/widget-react/src/hooks/__tests__/useWidgetState.spec.ts
  packages/widget-react/src/hooks/index.ts
  packages/widget-react/src/hooks/useWidgetChatData.ts
  packages/widget-react/src/hooks/useWidgetCustomerData.ts
  packages/widget-react/src/hooks/useWidgetGreeting.ts
  packages/widget-react/src/hooks/useWidgetIsReady.ts
  packages/widget-react/src/hooks/useWidgetState.ts
  scripts/test.mjs
Due: eslint --fix, prettier --write

fix spelling
  packages/widget-react/src/hooks/__tests__/useWidgetState.spec.ts
Due: eslint --fix

CW-2823: React hooks tests (#13)
  package-lock.json
  package.json
  packages/widget-core/package.json
  packages/widget-react/jest.config.json
  packages/widget-react/package.json
  packages/widget-react/src/hooks.ts
  packages/widget-react/src/hooks/__tests__/.eslintrc
  packages/widget-react/src/hooks/__tests__/test-utils.tsx
  packages/widget-react/src/hooks/__tests__/useWidgetChatData.spec.ts
  packages/widget-react/src/hooks/__tests__/useWidgetCustomerData.spec.ts
  packages/widget-react/src/hooks/__tests__/useWidgetGreeting.spec.ts
  packages/widget-react/src/hooks/__tests__/useWidgetIsReady.spec.ts
  packages/widget-react/src/hooks/__tests__/useWidgetState.spec.ts
  packages/widget-react/src/hooks/index.ts
  packages/widget-react/src/hooks/useWidgetChatData.ts
  packages/widget-react/src/hooks/useWidgetCustomerData.ts
  packages/widget-react/src/hooks/useWidgetGreeting.ts
  packages/widget-react/src/hooks/useWidgetIsReady.ts
  packages/widget-react/src/hooks/useWidgetState.ts
  scripts/test.mjs
Due: eslint --fix, prettier --write

vue compistion api tests
  package-lock.json
  package.json
  packages/widget-vue/jest.config.json
  packages/widget-vue/jest.setup.js
  packages/widget-vue/package.json
  packages/widget-vue/src/composition.ts
  packages/widget-vue/src/composition/__tests__/.eslintrc
  packages/widget-vue/src/composition/__tests__/test-utils.ts
  packages/widget-vue/src/composition/__tests__/useWidgetChatData.spec.ts
  packages/widget-vue/src/composition/__tests__/useWidgetCustomerData.spec.ts
  packages/widget-vue/src/composition/__tests__/useWidgetGreeting.spec.ts
  packages/widget-vue/src/composition/__tests__/useWidgetIsReady.spec.ts
  packages/widget-vue/src/composition/__tests__/useWidgetState.spec.ts
  packages/widget-vue/src/composition/index.ts
  packages/widget-vue/src/composition/useWidgetChatData.ts
  packages/widget-vue/src/composition/useWidgetCustomerData.ts
  packages/widget-vue/src/composition/useWidgetGreeting.ts
  packages/widget-vue/src/composition/useWidgetIsReady.ts
  packages/widget-vue/src/composition/useWidgetState.ts
Due: eslint --fix, prettier --write

use mitt in react hooks tests
  packages/widget-react/src/hooks/__tests__/test-utils.tsx
  packages/widget-react/src/hooks/__tests__/useWidgetChatData.spec.ts
  packages/widget-react/src/hooks/__tests__/useWidgetCustomerData.spec.ts
  packages/widget-react/src/hooks/__tests__/useWidgetGreeting.spec.ts
  packages/widget-react/src/hooks/__tests__/useWidgetIsReady.spec.ts
  packages/widget-react/src/hooks/__tests__/useWidgetState.spec.ts
Due: eslint --fix

Issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: prettier --write

Issue templates (#16)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: prettier --write

fix spelling
  packages/widget-vue/src/composition/__tests__/useWidgetState.spec.ts
Due: eslint --fix

CW-2824: Vue composition API tests (#14)
  package-lock.json
  package.json
  packages/widget-react/src/hooks/__tests__/test-utils.tsx
  packages/widget-vue/jest.config.json
  packages/widget-vue/jest.setup.js
  packages/widget-vue/package.json
  packages/widget-vue/src/composition.ts
  packages/widget-vue/src/composition/__tests__/.eslintrc
  packages/widget-vue/src/composition/__tests__/test-utils.ts
  packages/widget-vue/src/composition/__tests__/useWidgetChatData.spec.ts
  packages/widget-vue/src/composition/__tests__/useWidgetCustomerData.spec.ts
  packages/widget-vue/src/composition/__tests__/useWidgetGreeting.spec.ts
  packages/widget-vue/src/composition/__tests__/useWidgetIsReady.spec.ts
  packages/widget-vue/src/composition/__tests__/useWidgetState.spec.ts
  packages/widget-vue/src/composition/index.ts
  packages/widget-vue/src/composition/useWidgetChatData.ts
  packages/widget-vue/src/composition/useWidgetCustomerData.ts
  packages/widget-vue/src/composition/useWidgetGreeting.ts
  packages/widget-vue/src/composition/useWidgetIsReady.ts
  packages/widget-vue/src/composition/useWidgetState.ts
Due: eslint --fix, prettier --write

angular services tests
  package-lock.json
  packages/widget-angular/jest.config.json
  packages/widget-angular/jest.setup.js
  packages/widget-angular/package.json
  packages/widget-angular/rollup.config.js
  packages/widget-angular/src/LiveChatWidget.module.ts
  packages/widget-angular/src/index.ts
  packages/widget-angular/src/services/WidgetChatData.service.ts
  packages/widget-angular/src/services/WidgetCustomerData.service.ts
  packages/widget-angular/src/services/WidgetGreeting.service.ts
  packages/widget-angular/src/services/WidgetIsReady.service.ts
  packages/widget-angular/src/services/WidgetState.service.ts
  packages/widget-angular/src/services/__tests__/.eslintrc
  packages/widget-angular/src/services/__tests__/WidgetChatData.spec.ts
  packages/widget-angular/src/services/__tests__/WidgetCustomerData.spec.ts
  packages/widget-angular/src/services/__tests__/WidgetGreeting.spec.ts
  packages/widget-angular/src/services/__tests__/WidgetIsReady.spec.ts
  packages/widget-angular/src/services/__tests__/WidgetState.spec.ts
  packages/widget-angular/src/services/index.ts
  packages/widget-angular/tsconfig.spec.json
  packages/widget-core/jest.config.json
  packages/widget-vue/jest.config.json
  scripts/test.mjs
Due: eslint --fix, prettier --write

remove lock file from angular package
  packages/widget-angular/package-lock.json
Due: prettier --write

CW-2825: Angular services tests (#15)
  package-lock.json
  packages/widget-angular/jest.config.json
  packages/widget-angular/jest.setup.js
  packages/widget-angular/package-lock.json
  packages/widget-angular/package.json
  packages/widget-angular/rollup.config.js
  packages/widget-angular/src/LiveChatWidget.module.ts
  packages/widget-angular/src/index.ts
  packages/widget-angular/src/services/WidgetChatData.service.ts
  packages/widget-angular/src/services/WidgetCustomerData.service.ts
  packages/widget-angular/src/services/WidgetGreeting.service.ts
  packages/widget-angular/src/services/WidgetIsReady.service.ts
  packages/widget-angular/src/services/WidgetState.service.ts
  packages/widget-angular/src/services/__tests__/.eslintrc
  packages/widget-angular/src/services/__tests__/WidgetChatData.spec.ts
  packages/widget-angular/src/services/__tests__/WidgetCustomerData.spec.ts
  packages/widget-angular/src/services/__tests__/WidgetGreeting.spec.ts
  packages/widget-angular/src/services/__tests__/WidgetIsReady.spec.ts
  packages/widget-angular/src/services/__tests__/WidgetState.spec.ts
  packages/widget-angular/src/services/index.ts
  packages/widget-angular/tsconfig.spec.json
  packages/widget-core/jest.config.json
  packages/widget-vue/jest.config.json
  scripts/test.mjs
Due: eslint --fix, prettier --write

Create CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Due: prettier --write

Create CODE_OF_CONDUCT.md (#18)
  CODE_OF_CONDUCT.md
Due: prettier --write

check-pkgs script
  .husky/pre-commit
  package.json
  scripts/check-pkgs.mjs
  scripts/lint.mjs
Due: prettier --write

check-pkgs script (#19)
  .husky/pre-commit
  package.json
  scripts/check-pkgs.mjs
  scripts/lint.mjs
Due: prettier --write

mention code of conduct
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  README.md
Due: prettier --write

Path conditions:
  eslint --fix: any of: **/*.{js,ts,tsx}
  prettier --write: any of: **/*.{css,md,json}
