Repository livechat/chat-widget-adapters: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "**/*.{js,ts,tsx}": "eslint --fix",
  "**/*.{css,md,json}": "prettier --write"
}

update widget-angular to v15, jest, config
  examples/angular/package.json
  examples/angular/tsconfig.json
  package.json
  packages/widget-angular/jest.config.json
  packages/widget-angular/package.json
  packages/widget-react/jest.config.json
  yarn.lock
Due: prettier --write

update typescript to 4.8.4
  package.json
  yarn.lock
Due: prettier --write

Downgrade Angular version for package build
  examples/angular/angular.json
  examples/angular/package.json
  examples/angular/tsconfig.json
  package.json
  packages/widget-angular/jest.setup.js
  packages/widget-angular/package.json
  yarn.lock
Due: eslint --fix, prettier --write

Fix: Downgrade Angular version for package build to 13 but maintain support up to 15 (#67)
  examples/angular/angular.json
  examples/angular/package.json
  examples/angular/tsconfig.json
  package.json
  packages/widget-angular/jest.setup.js
  packages/widget-angular/package.json
  yarn.lock
Due: eslint --fix, prettier --write

v1.2.3
  examples/angular/package.json
  examples/react/package.json
  examples/vue/package.json
  lerna.json
  packages/widget-angular/package.json
  packages/widget-core/package.json
  packages/widget-react/package.json
  packages/widget-vue/package.json
Due: prettier --write

implement custom identity provider
  packages/widget-angular/README.md
  packages/widget-angular/src/LiveChatWidget.component.ts
  packages/widget-core/src/__tests__/assign-configuration.spec.ts
  packages/widget-core/src/assign-configuration.ts
  packages/widget-core/src/types.ts
  packages/widget-react/README.md
  packages/widget-react/src/LiveChatWidget.tsx
  packages/widget-vue/README.md
  packages/widget-vue/src/LiveChatWidget.ts
Due: eslint --fix, prettier --write

update readme
  packages/widget-angular/README.md
  packages/widget-react/README.md
  packages/widget-vue/README.md
Due: prettier --write

cr fixes
  packages/widget-angular/README.md
  packages/widget-core/src/__tests__/assign-configuration.spec.ts
  packages/widget-core/src/assign-configuration.ts
  packages/widget-core/src/types.ts
  packages/widget-react/README.md
  packages/widget-vue/README.md
Due: eslint --fix, prettier --write

delete commented code
  packages/widget-core/src/__tests__/assign-configuration.spec.ts
Due: eslint --fix

don't reinitialize on CIP prop change
  packages/widget-angular/src/LiveChatWidget.component.ts
  packages/widget-core/src/__tests__/assign-configuration.spec.ts
  packages/widget-core/src/types.ts
  packages/widget-react/src/LiveChatWidget.tsx
  packages/widget-vue/src/LiveChatWidget.ts
Due: eslint --fix

Feature: custom identity provider support (#72)
  packages/widget-angular/README.md
  packages/widget-angular/src/LiveChatWidget.component.ts
  packages/widget-core/src/__tests__/assign-configuration.spec.ts
  packages/widget-core/src/assign-configuration.ts
  packages/widget-core/src/types.ts
  packages/widget-react/README.md
  packages/widget-react/src/LiveChatWidget.tsx
  packages/widget-vue/README.md
  packages/widget-vue/src/LiveChatWidget.ts
Due: eslint --fix, prettier --write

v1.3.0
  examples/angular/package.json
  examples/react/package.json
  examples/vue/package.json
  lerna.json
  packages/widget-angular/package.json
  packages/widget-core/package.json
  packages/widget-react/package.json
  packages/widget-vue/package.json
Due: prettier --write

Update package.json to include peer dep to angular 16
  packages/widget-angular/package.json
Due: prettier --write

Update package.json to include peer dep to angular 16 (#78)
  packages/widget-angular/package.json
Due: prettier --write

v1.3.1
  examples/angular/package.json
  examples/react/package.json
  examples/vue/package.json
  lerna.json
  packages/widget-angular/package.json
  packages/widget-core/package.json
  packages/widget-react/package.json
  packages/widget-vue/package.json
Due: prettier --write

update readme.md
  README.md
Due: prettier --write

update readme.md (#79)
  README.md
Due: prettier --write

Update package.json to allow angular 17
  packages/widget-angular/package.json
Due: prettier --write

Update package.json to allow angular 17 (#84)
  packages/widget-angular/package.json
Due: prettier --write

v1.3.2
  examples/angular/package.json
  examples/react/package.json
  examples/vue/package.json
  lerna.json
  packages/widget-angular/package.json
  packages/widget-core/package.json
  packages/widget-react/package.json
  packages/widget-vue/package.json
Due: prettier --write

v1.3.2 (#85)
  examples/angular/package.json
  examples/react/package.json
  examples/vue/package.json
  lerna.json
  packages/widget-angular/package.json
  packages/widget-core/package.json
  packages/widget-react/package.json
  packages/widget-vue/package.json
Due: prettier --write

Update package.json to allow angular 18
  packages/widget-angular/package.json
Due: prettier --write

Update package.json to allow angular 18 (#95)
  packages/widget-angular/package.json
Due: prettier --write

fix: explicitly navigate to chat view in e2e spec
  e2e/example-page.ts
  e2e/examples.spec.ts
Due: eslint --fix

fix: explicitly navigate to chat view in e2e spec (#96)
  e2e/example-page.ts
  e2e/examples.spec.ts
Due: eslint --fix

v1.3.3
  examples/angular/package.json
  examples/react/package.json
  examples/vue/package.json
  lerna.json
  packages/widget-angular/package.json
  packages/widget-core/package.json
  packages/widget-react/package.json
  packages/widget-vue/package.json
Due: prettier --write

update package.json to allow angular 19 and react 19
  packages/widget-angular/package.json
  packages/widget-react/package.json
Due: prettier --write

update e2e after widget default view change back to chat
  e2e/example-page.ts
  e2e/examples.spec.ts
Due: eslint --fix

Update package.json to allow angular 19 and react 19 (#99)
  e2e/example-page.ts
  e2e/examples.spec.ts
  packages/widget-angular/package.json
  packages/widget-react/package.json
Due: eslint --fix, prettier --write

v1.3.4
  examples/angular/package.json
  examples/react/package.json
  examples/vue/package.json
  lerna.json
  packages/widget-angular/package.json
  packages/widget-core/package.json
  packages/widget-react/package.json
  packages/widget-vue/package.json
Due: prettier --write

v1.3.4 (#100)
  examples/angular/package.json
  examples/react/package.json
  examples/vue/package.json
  lerna.json
  packages/widget-angular/package.json
  packages/widget-core/package.json
  packages/widget-react/package.json
  packages/widget-vue/package.json
Due: prettier --write

update package.json to allow angular 20
  packages/widget-angular/package.json
Due: prettier --write

update github workflows
  .github/workflows/check.yml
Due: none

Update package.json to allow angular 20 (#105)
  .github/workflows/check.yml
  packages/widget-angular/package.json
Due: prettier --write

v1.3.5
  examples/angular/package.json
  examples/react/package.json
  examples/vue/package.json
  lerna.json
  packages/widget-angular/package.json
  packages/widget-core/package.json
  packages/widget-react/package.json
  packages/widget-vue/package.json
Due: prettier --write

v1.3.5 (#106)
  examples/angular/package.json
  examples/react/package.json
  examples/vue/package.json
  lerna.json
  packages/widget-angular/package.json
  packages/widget-core/package.json
  packages/widget-react/package.json
  packages/widget-vue/package.json
Due: prettier --write

bump gh actions versions in publish workflow
  .github/workflows/publish.yml
Due: none

bump gh actions versions in publish workflow (#107)
  .github/workflows/publish.yml
Due: none

feature: text widget
  packages/widget-angular/README.md
  packages/widget-angular/package.json
  packages/widget-angular/src/LiveChatWidget.component.ts
  packages/widget-angular/src/LiveChatWidget.module.ts
  packages/widget-angular/src/index.ts
  packages/widget-core/src/__tests__/assign-configuration.spec.ts
  packages/widget-core/src/assign-configuration.ts
  packages/widget-core/src/types.ts
  packages/widget-react/README.md
  packages/widget-react/src/LiveChatWidget.tsx
  packages/widget-react/src/index.ts
  packages/widget-vue/README.md
  packages/widget-vue/src/LiveChatWidget.ts
  packages/widget-vue/src/index.ts
Due: eslint --fix, prettier --write

update packages readme
  packages/widget-angular/README.md
  packages/widget-react/README.md
  packages/widget-vue/README.md
Due: prettier --write
